# Finnhub variables
FINNHUB_API_KEY=YOUR-FINNHUB-API-KEY
TICKERS=YOUR-LIST-OF-TICKERS

# External Services connection strings
REDIS_URL=YOUR-REDIS-URL
DATABASE_URL=YOUR-POSTGRESQL-DATABASE-URL

# JWT config variables
JWT_SECRET=YOUR-JWT-SECRET
JWT_ALGORITHM=YOUR-JWT-ALGORITHM #eg: HS256

# Domain name (for CADDY)
DOMAIN_NAME=YOUR-DOMAIN-NAME