{% extends "base.html" %} {% block content %}
<div class="row container-fluid">
    <div class="col-md-12 hero-section">
        <h1 class="text-center pt-font">
            <span class="logo-main">Paper</span
            ><span class="logo-second">Trader</span>
        </h1>
        <!-- <h1 class="text-center pt-font">PaperTrader</h1> -->
    </div>
</div>
<div class="row container-fluid">
    <div class="col-md-12 how-it-works"></div>
</div>
<div class="row container-fluid">
    <div class="col-md-12 explanation"></div>
</div>
<div class="row container-fluid">
    <div class="col-md-12 call-to-action"></div>
</div>

{% endblock %}
